* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vh;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yarujanai-icon {
  width: 1000vw;
  height: 50vh;
  background-image: url('header.image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.search-form {
  width: 63vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  margin-left: 20px;
}

.search-form>.input-box {
  width: 50vw;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 6vh;
  border: 0;
  cursor: pointer;
  background-color: coral;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.list-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  background-color: bisque;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: black;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
}

.sign-up {
  text-decoration: none;
  color: black;
}