* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vh;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.profile-btn-icon{
  display: flex;
  justify-content: center;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.list-right {
  margin: 20px 0 0 20px;
  display: flex;
  list-style: none;
  align-items: flex-end; 
  justify-content: space-between;
}

.user-name {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}

.logout {
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-right: 70px;
}

.login {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}

.sign-up {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}