* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vh;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin: 0 100px 0 0;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.search-button {
  width: 6vh;
  border: 0;
  cursor: pointer;
  background-color: coral;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 28px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.list-right {
  margin-left: 20px;
  display: flex;
  list-style: none;
  align-items: flex-end; 
  justify-content: space-between;
}

.user-name {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}

.logout {
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-right: 70px;
}

.login {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}

.sign-up {
  font-size: 25px;
  text-decoration: none;
  margin-right: 70px;
  color: black;
}