<footer class="st-fotter">
  <div class="st-fotter-container">
    <p class="st-fotter-start"></p>
    <p class="st-fotter-navigation">_</nav>
  </div>
  <%= image_tag "fotter.image.jpg", class:"fotter-logo"%>
</footer>